<body>
  
  <%new = Puppy.new(params[:name],params[:breed],params[:months_old]) %>
  <p>Puppy Name: <%= new.name %></p>
  <p>Puppy Breed: <%= new.breed %></p>
  <p>Puppy Age: <%= new.months_old %> months</p>
</body>
