<body>
  
  <%new = Puppy.new(params[:name],params[:breed],params[:age]) %>
  <p>Puppy Name: <%= new.name %></p>
  <p>Puppy Breed: <%= new.breed %></p>
  <p>Puppy Age: <%= new.age %> months</p>
</body>
