<body>
  
  <%new = Puppy.new(params[:name],params[:breed],params[:months_old]) %>
  <p>Name: <%=new.name %></p>
  <p>Breed: <%=new.breed %></p>
  <p>Age: <%=new.months_old.to_s %> months</p>
</body>
